header
 {margin: 0;
    border: 0;
    /* padding-left: 300px; */
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 109%;
    align-items: center; 
    color: white;
    
    

 }

.images
{
    
    /* display: block; */
    /* float: left; */
    width: 67%;
    /* padding: 0px; */
    padding-left: 60px;
    /* padding-right: 180px; */
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 30px;
}
img
{
    width: 100%;
    border-radius: 10px;
    border-color: white;
    display: block;
  margin-left: auto;
  margin-right: auto;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
   
}
img:hover
{
    transform: scale(1.6,1.6);
    transition: .4s;
    
    
}
body
{ 
    width: 90%;
  
      background:url("gradientclr4.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #74b9ff; */
   
    
  
}
/* nav
{ align-items: center;
   
  margin: 0px;
  border: 0px;
  padding: 0px; 
    /* width: 122.5%; */
    width: 100%;
     height: 8vh;
     background-color: rgba(6, 46, 105, 0.5);
    color: white; display: flex;justify-content: space-between;
   
   
} */
nav .gallery
{
    width: 100%;
    text-align: center;
    
     
         /* display: inline-block; */
         margin: 0 0.5rem;
       
         animation: bounce infinite;
         animation-duration: 3s; 
      
}
body
{
    align-items: center;
    
}
.picgallery
{
    width: 95%;
    height :100%;
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    align-items: center;
    grid-gap: 10px; 
    padding: 15px 65px;
    
    /* border: 1px solid; */
  
   
}
.picgallery img
{
    align-items: center;
    justify-content: center;
}
/* .desc
{
    padding: 1px;
    text-align: center;
    color: blue;
    background-color: cornsilk;
    border-radius: 10px;
    height: 20px;
    
   
} */
